.right_arrowBtn:after {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  width: 20px;
  margin-top: 20px;
  margin-right: 20px;
  height: 22px;
  background: url('../../public/gImg/contents_detail_view.png');
  background-size: 20px;
}

.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
  position: absolute;
  width: 0;
  margin-left: 5px;
  content: '';
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background: black;
}

.chiller_cb {
  position: relative;
  display: inline-flex;
  background-color: white;
  align-items: center;
}

.chiller_cb input {
  display: none;
}

.chiller_cb input:checked~span {
  border-color: white;
  background: white;
}

.chiller_cb input:checked~span:before {
  width: 1rem;
  height: .15rem;
  transition-delay: .3s;
}
/*체크 애니메이션*/
.chiller_cb input:checked~span:after {
  width: .4rem;
  height: .15rem;
  transition: width .1s;
  transition-delay: .2s;
}


.chiller_cb label {
  margin-bottom: 0;
  padding-left: 2rem;
}
/*체크박스*/
.chiller_cb span {
  position: absolute;
  z-index: 1;
  left: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 1.2rem;
  height: 1.2rem;
  border: 3px solid white;
  background: white;
}

.chiller_cb span:before {
  top: 1rem;
  left: .37rem;
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
}

.chiller_cb span:after {
  bottom: .35rem;
  left: .2rem;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

